// COLORS

$color__primary: #5DC4C6;
$color__white: #ffffff;
$color__gray--light: #bbbbbb;

// SPACING (PADDING + MARGIN)

$spacing--m: 1rem;
$spacing--s: $spacing--m / 2;

// OTHER

$border-radius--base: 5px;
